/fuse.X/nbproject/private/
/fuse.X/build/default/
/fuse.X/dist/default/
/car_remote.X/nbproject/private/
/car_remote.X/build/default/
/car_remote.X/dist/default/
/car_remote_hex.X/nbproject/private/
*.mov
*.out
*.elf
*.bin
*.FCStd1
*.3mf
typescript
*.pcb-
*.o
*.cap
